.Flow {
  flex-grow: 1;
  font-size: 12px;
}

.react-flow__node-custom {
  border: 1px solid #555;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.transition {
  flex-grow: 1;
  position: relative;
}

.transition .controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  font-size: 12px;
}

.transition .controls button + button {
  margin-left: 10px;
}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}